@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

.App {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.time, h1{
    font-size: 45px;
    font-family: 'Goblin One', cursive;
}